.mod-auto-output-selector {
    background-image:url(/resources/mod-auto-output-selector_bg.png{{{ns}}});
    background-repeat:no-repeat;
    height:274px;
    width:200px;
}
.mod-auto-output-selector .mod-auto-output-selector-status {
    background-image:url(/resources/mod-auto-output-selector_sprites.png{{{ns}}});
    background-repeat:no-repeat;
    background-position: 0px 0px;
    background-size: 187px 304px;
    position:relative;
    top:114px;
    left:7px;
    width:187px;
    height:76px;
}
.mod-auto-output-selector .mod-auto-output-selector-labels {
    position:absolute;
    top:calc(114px - 1em);
    left:7px;
    width:182px;
    height:136px;
    color:#fff;
    font-size:14px;
}
.mod-auto-output-selector .mod-auto-output-selector-left {
    position:absolute;
    left:10px;
}
.mod-auto-output-selector .mod-auto-output-selector-right {
    position:absolute;
    right:10px;
}
.mod-auto-output-selector .mod-auto-output-selector-1 {
    top:0px;
}
.mod-auto-output-selector .mod-auto-output-selector-2 {
    top:62px;
}
.mod-auto-output-selector .mod-pedal-input,
.mod-auto-output-selector .mod-pedal-output {
    top:93px;
}
.mod-auto-output-selector .mod-pedal-input .mod-input,
.mod-auto-output-selector .mod-pedal-output .mod-output {
    margin-bottom:8px;
}
